<div class="parentDiv">
    <div>
        <app-area></app-area>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
        <mat-card fxFlex="25">
            <app-card></app-card>
        </mat-card>
        <mat-card fxFlex="25">
            <app-card></app-card>
        </mat-card>
        <mat-card fxFlex="25">
            <app-card></app-card>
        </mat-card>
        <mat-card fxFlex="25">
            <app-card></app-card>
        </mat-card>




    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">

        <div  fxFlex="60">
            <app-table ></app-table>
        </div>

        <div fxFlex="40">
            
                <app-pie></app-pie>
    
        </div>
    </div>

</div>