


<mat-list role="list">
    <div class="profile">
        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="profile-pic">
        <div >
            <h2>Amalghosh V</h2>
            <h4>Amalghoshv@gmail.com</h4>
        </div>
       
        
    </div>
    <mat-divider></mat-divider>
    <h4 matSubheader>Pages</h4>
    <a mat-list-item role="listitem" routerLink='/'>Dashboard</a>
    <a mat-list-item role="listitem" routerLink='/posts'>Posts</a>
    <a mat-list-item role="listitem" routerLink='/'>Articles</a>

    <mat-divider></mat-divider>
    <h4 matSubheader>Tools</h4>
    <a mat-list-item role="listitem" routerLink='/'>
        <mat-icon>import_contacts</mat-icon> &nbsp; Contact
    </a>
    <a mat-list-item role="listitem" routerLink='/'>
        <mat-icon>contact_phone</mat-icon> &nbsp; Contact Numbers
    </a>
    
  </mat-list>
  