footer{
    padding: 15px;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Rajdhani:wght@500&family=Roboto+Mono:ital@1&family=Sora&family=Zen+Dots&family=Zilla+Slab:ital,wght@1,300&display=swap');a{
    font-family: 'Zen Dots', cursive;
    text-decoration: none;
}
.footer{
    font-family: 'Rajdhani', sans-serif;
}